Repository Expan75/autonmous-robots-final-project-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-trigger, infra-trigger, robot-trigger, platform-trigger

gitlab-ci.yml:

# delegates to child .yml specified ci jobs
stages:
  - triggers

docs-trigger:
  stage: triggers
  trigger:
    include: docs/.gitlab-ci.yml
  rules:
    - changes:
        - docs/*

infra-trigger:
  stage: triggers
  trigger:
    include: infra/.gitlab-ci.yml
  rules:
    - changes:
        - infra/*

robot-trigger:
  stage: triggers
  trigger:
    include: robot/.gitlab-ci.yml
  rules:
    - changes:
        - robot/*

platform-trigger:
  stage: triggers
  trigger:
    include: platform/.gitlab-ci.yml
  rules:
    - changes:
        - platform/*

good setup with stubs for ci organisation
  docs/.docs-ci.yml
  gitlab-ci.yml
  infra/.infra-ci.yml
  infra/.platform
  infra/.robot
  platform/.platform-ci.yml
  robot/.robot-ci.yml
Due: docs-trigger, infra-trigger, robot-trigger, platform-trigger

fix dotfile
  .gitlab-ci.yml
Due: none

add secret flagging
  .gitlab-ci.yml
Due: none

add mit license
  LICENSE
  README.md
Due: none

better docs
  README.md
Due: none

renamed platform as cloud
  .gitlab-ci.yml
  cloud/.cloud-ci.yml
Due: none

neater docs
  README.md
Due: none

add ci/cd for sample c++
  robot/cpp-robot-service-template/.gitlab-ci.yml
Due: none

add all ci
  robot/.robot-ci.yml
  robot/cpp-robot-service-template/.cpp-robot-service-ci.yml
  robot/cpp-robot-service-template/.gitignore
  robot/cpp-robot-service-template/CMakeLists.txt
  robot/cpp-robot-service-template/Dockerfile
  robot/cpp-robot-service-template/README.md
  robot/cpp-robot-service-template/src/catch.hpp
  robot/cpp-robot-service-template/src/cluon-complete.hpp
  robot/cpp-robot-service-template/src/helloworld.cpp
  robot/cpp-robot-service-template/src/messages.hpp
  robot/cpp-robot-service-template/src/messages.odvd
  robot/cpp-robot-service-template/src/prime-checker.cpp
  robot/cpp-robot-service-template/src/prime-checker.hpp
  robot/cpp-robot-service-template/src/test-prime-checker.cpp
Due: robot-trigger

triggers stage
  robot/.robot-ci.yml
Due: robot-trigger

catch secrets immedietely
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

idk
  .gitlab-ci.yml
Due: none

nu
  .gitlab-ci.yml
Due: none

nu då?
  .gitlab-ci.yml
Due: none

test runner
  .gitlab-ci.yml
Due: none

secret check everything
  .gitlab-ci.yml
Due: none

ensure secret check finds everythign
  .gitlab-ci.yml
Due: none

only scan non docs
  .gitlab-ci.yml
Due: none

change runner
  .gitlab-ci.yml
Due: none

specify docker execturo
  .gitlab-ci.yml
Due: none

docker executor for secret ceck
  .gitlab-ci.yml
Due: none

Feature/cicd cpp template
  .gitlab-ci.yml
  cloud/.cloud-ci.yml
  cloud/test.txt
  docs/.docs-ci.yml
  infra/.infra-ci.yml
  infra/test.txt
  robot/.robot-ci.yml
  robot/cpp-robot-service-template/.robot-service-ci.yml
  robot/cpp-robot-service-template/src/helloworld.cpp
  robot/cpp-robot-service-template/src/prime-checker.cpp
  robot/cpp-robot-service-template/src/prime-checker.hpp
  robot/cpp-robot-service-template/src/test-prime-checker.cpp
  robot/test.txt
Due: docs-trigger, infra-trigger, robot-trigger

removed unused stages in oouter job
  .gitlab-ci.yml
Due: none

get rid off outer tags
  .gitlab-ci.yml
Due: none

no tags at all
  .gitlab-ci.yml
Due: none

better
  .gitlab-ci.yml
Due: none

differnet
  .gitlab-ci.yml
Due: none

import but not really
  .gitlab-ci.yml
Due: none

now
  .gitlab-ci.yml
Due: none

correct execturo
  .gitlab-ci.yml
Due: none

same same but different
  robot/.robot-ci.yml
Due: robot-trigger

fix typo
  robot/.robot-ci.yml
Due: robot-trigger

naother typo
  robot/.robot-ci.yml
Due: robot-trigger

always trigger child pipelines
  robot/.robot-ci.yml
Due: robot-trigger

nu!
  robot/.robot-ci.yml
Due: robot-trigger
